<h1>Listing users</h1>

<table class="table table-striped">
  <tr>
	<th>Id</th>
    <th>Fname</th>
    <th>Lname</th>
    <th>Dob</th>
    <th>Consented</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
	<td><%= user.id %></td>
    <td><%= user.fname %></td>
    <td><%= user.lname %></td>
    <td><%= user.dob %></td>
    <td><%= user.consented_at %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<td><%= link_to 'check consent', check_consent_url(user) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
